# ***exemplo de ranqueamento***
Exemplo de ranqueamento 
rever estudos posteriormente

In [ ]:
SELECT * from (select a.*, ROW_NUMBER()
OVER(PARTITION BY cor order by nome) as ordem_cor from veiculo a)
tb where ordem_cor < 3;

# ***retornar a consulta ja no formato json***

Rever - ja retornando em uma consulta o retorno em formato de json

interesante oara criaçãode API.

In [ ]:
select JSON_OBJECT('veiculos', JSON_ARRAYAGG( JSON_OBJECT
('Nome', Nome, 'Cor', Cor)))
from veiculo;