In [ ]:
use world;

In [ ]:
SELECT 
    country.name as Pais, 
    city.CountryCode as cod_Pais,
    (SELECT qtd_estado(cod_Pais)) as Qtd_Estados
from 
    country 
inner join 
    city
    on country.capital = city.id;

In [ ]:
delimiter $$
CREATE FUNCTION qtd_estado (codPais VARCHAR(3))
RETURNS INT DETERMINISTIC
    BEGIN
        RETURN (SELECT COUNT(DISTINCT District) FROM city WHERE CountryCode = codPais);
    END;
DELIMITER ;